<div class="container">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" 
                   name="name"
                   class="form-control"
                   placeholder="Mona Lisa"
                   minlength="2"
                   required
                   [(ngModel)]="user.name"
                   #userName="ngModel">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
                   name="email"
                   class="form-control"
                   placeholder="johnnydoey@gmail.com"
                   required
                   [(ngModel)]="user.email"
                   #userPhone="ngModel">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text"
                   name="phone"
                   class="form-control"
                   placeholder="703-809-9876"
                   minlength="10"
                   required
                   [(ngModel)]="user.phone"
                   #user.Phone="ngModel">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
