<div class="container">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" 
                   id="name"
                   class="form-control"
                   required="true"
                   placeholder="Mona Lisa">
        </div>
        <div class="form-group">
            <labe for="email">Email</label>
            <input type="text"
                   id="email"
                   class="form-control"
                   required="true"
                   placeholder="johnnydoey@gmail.com">
        </div>
        <div class="form-group">
            <label for=phone>Phone  Number</label>
            <input type="text"
                   id="phone"
                   class="form-control"
                   required="true"
                   placeholder="703-809-9876">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
